In [ ]:
# pull and explore the data

In [1]:
import requests

In [3]:
# call the API
nyc = requests.get('https://data.cityofnewyork.us/resource/wvxf-dwi5.csv')

In [7]:
import pandas as pd

In [9]:
#import NY Data
df = pd.read_csv("https://data.cityofnewyork.us/resource/wvxf-dwi5.csv")

In [11]:
df

,violationid,buildingid,registrationid,boroid,boro,housenumber,lowhousenumber,highhousenumber,streetname,streetcode,...,violationstatus,rentimpairing,latitude,longitude,communityboard,councildistrict,censustract,bin,bbl,nta
0,10081311,375411,306067,3,BROOKLYN,22 FRONT,22 FRON,22 FRONT,STAGG STREET,80930,...,Close,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10299683,375411,306067,3,BROOKLYN,22 FRONT,22 FRON,22 FRONT,STAGG STREET,80930,...,Close,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10299685,375411,306067,3,BROOKLYN,22 FRONT,22 FRON,22 FRONT,STAGG STREET,80930,...,Close,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10299686,375411,306067,3,BROOKLYN,22 FRONT,22 FRON,22 FRONT,STAGG STREET,80930,...,Open,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10299690,375411,306067,3,BROOKLYN,22 FRONT,22 FRON,22 FRONT,STAGG STREET,80930,...,Open,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12323291,811186,421091,4,QUEENS,120,120,120,BEACH 19 STREET,30190,...,Close,N,40.593572,-73.753179,14.0,31.0,101004.0,4436179.0,4.156380e+09,Far Rockaway-Bayswater
996,12323292,811186,421091,4,QUEENS,120,120,120,BEACH 19 STREET,30190,...,Close,N,40.593572,-73.753179,14.0,31.0,101004.0,4436179.0,4.156380e+09,Far Rockaway-Bayswater
997,10645742,225496,377316,3,BROOKLYN,151,151,167,CONOVER STREET,29030,...,Close,N,40.678609,-74.013614,6.0,38.0,5301.0,3008580.0,3.005650e+09,Carroll Gardens-Cobble Hill-Gowanus-Red Hook
998,10645743,225496,377316,3,BROOKLYN,151,151,167,CONOVER STREET,29030,...,Close,N,40.678609,-74.013614,6.0,38.0,5301.0,3008580.0,3.005650e+09,Carroll Gardens-Cobble Hill-Gowanus-Red Hook
999,10356218,60797,200072,2,BRONX,2567,2567,2567,DECATUR AVENUE,23920,...,Close,N,40.862634,-73.891000,7.0,15.0,39901.0,2016320.0,2.032750e+09,University Heights (North)-Fordham